<mat-toolbar color="primary">
    <button (click)="menubtnClicked()"mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Admin</span>
    <span class="example-spacer"></span>
<div class="flex-content">
        <ul>
           <li>
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                  <mat-icon>settings</mat-icon>
                </button>
           </li>
            <li>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                  <mat-icon>help-outline</mat-icon>
                </button>
            </li>
<li>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>person-outline</mat-icon>
                  </button>
</li>
        </ul>
</div>
      <!-- menu -->

  </mat-toolbar>
